<div class="animated fadeIn">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <strong>Dodawanie artykułu</strong>
                </div>
                <div class="card-body">
                    <form [formGroup]="articleForm" action="" enctype="multipart/form-data" class="form-horizontal">
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label">Autor</label>
                            <div class="col-md-9">
                                <p class="form-control-static"></p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="text-input">Tytuł</label>
                            <div class="col-md-9">
                                <input type="text" id="text-input" formControlName="title" name="text-input" class="form-control">
                                <span class="help-block">Wprowadź tytuł artykułu</span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label">Miniatura</label>
                            <div class="col-md-9">
                                <input type="file" (change)="handleFileInput($event.target.files)" accept="image/*">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="file-input">Zawartość</label>
                            <div class="col-md-9">
                                <angular-editor formControlName="content" [config]="editorConfig"></angular-editor>
                            </div>
                        </div>
                        <!-- <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="date-input">Date Input</label>
                            <div class="col-md-9">
                                <input class="form-control" id="date-input" type="date" name="date-input" placeholder="date">
                                <span class="help-block">Please enter a valid date</span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="disabled-input">Disabled Input</label>
                            <div class="col-md-9">
                                <input type="text" id="disabled-input" name="disabled-input" class="form-control" placeholder="Disabled" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="textarea-input">Textarea</label>
                            <div class="col-md-9">
                                <textarea id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Content.."></textarea>
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="file-multiple-input">Multiple File input</label>
                            <div class="col-md-9">
                                <input type="file" id="file-multiple-input" name="file-multiple-input" multiple>
                            </div>
                        </div> -->
                        <div class="card-footer">
                            <button type="button" class="btn btn-sm btn-primary" (click)="submit()"><i class="fa fa-dot-circle-o"></i> Dodaj</button>
                            <!-- <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button> -->
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>